<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recupero Password</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; text-align: center; margin: 50px;">
        <h1>Recupero Password</h1>
        <p>È stato richiesto il recupero della password per il tuo account.</p>
        <p>Il tuo codice di recupero è: <br />
            <strong style="font-size: 20px;">{{resetPass}}</strong></p>
        <p>Utilizza questo codice per reimpostare la tua password.</p>
        <p>Se non hai richiesto il recupero della password, puoi ignorare questo messaggio.</p>
    </div>
</body>
</html>
